html {
  background-color: #dfe5e8 !important;
  font-family: Verdana,sans-serif;
  user-select: none;
  padding: 10px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



